<div class="page-decor">

  <div class="text1">Мы с удовольствием оформим ваше мероприятие. Чтобы обсудить
    детали, свяжитесь с нами:</div>
  <div class="pd-icons">
    <div class="pdi-icon">
      <img src="/wp-content/themes/cityflo/assets/images/companies/phone1.svg"
        alt="phone">
    </div>
    <div class="pdi-icon">
      <img
        src="/wp-content/themes/cityflo/assets/images/companies/whatsapp1.svg"
        alt="whatsapp">
    </div>
    <div class="pdi-icon">
      <img
        src="/wp-content/themes/cityflo/assets/images/companies/telegram1.svg"
        alt="telegram">
    </div>
    <div class="text1 text1-contact">8(916)425-46-65 или <br /> e-mail:
      hello@cityflo.ru</div>
  </div>
  <div class="text1">Чем раньше мы обговорим все детали, тем более точно нам
    удастся исполнить ваши задумки.</div>
  <div class="text1">У нас нет минимальной суммы заказа, но вы можете
    ориентироваться на стоимость композиций на стол от 2000 рублей, композиций
    на пол от 5000 рублей, оформление фотозоны или арки от 10 000 рублей.</div>
  <div class="text1">Наш менеджер поможет вам определиться с выбором и подберет
    для вас идеальные варианты.</div>
  <div class="pd-images">
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/1.jpg"
        alt="bridebouquet">
    </div>
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/2.jpg"
        alt="bridebouquet">
    </div>
  </div>
  <div class="pd-images">
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/3.jpg"
        alt="bridebouquet">
    </div>
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/4.jpg"
        alt="bridebouquet">
    </div>
  </div>
  <div class="pd-images">
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/10.jpg"
        alt="bridebouquet">
    </div>
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/9.jpg"
        alt="bridebouquet">
    </div>
  </div>
  <div class="pd-images">
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/7.jpg"
        alt="bridebouquet">
    </div>
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/8.jpg"
        alt="bridebouquet">
    </div>
  </div>
  <div class="pd-images">
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/5.jpg"
        alt="bridebouquet">
    </div>
    <div class="pdi-img">
      <img src="/wp-content/themes/cityflo/assets/images/companies/6.jpg"
        alt="bridebouquet">
    </div>
  </div>
  <div class="text1">Еще больше букетов невесты вы найдете в разделе <a
      href="/product-category/bridesbouquet/">БУКЕТ
      НЕВЕСТЫ</a></div>

</div>