<div class="page-about">

	<div class="h2">Мы рады приветствовать Вас на странице нашего цветочного салона
		City flowers!</div>
	<div class="pa-block">
		<div class="text1 text1-bold">Девиз нашей компании «Красивый букет не должен
			стоить дорого!»</div>
		<div class="text1">Мы искренне верим, доставить радость своему близкому
			человеку может каждый. Мы создаем букеты премиального уровня, стоимость
			которых начинается от 1490 рублей.</div>
		<div class="text1">Что означает премиальный уровень, спросите Вы? – Это
			работа, с любовью проделанная профессионалами своего дела. Когда каждый
			цветок на своем месте, когда ленты и упаковка гармонично дополняют цветочную
			композицию. Это безукоризненный сервис и самая лучшая в мире доставка.
			Придраться просто не к чему!</div>
	</div>
	<div class="pa-block">
		<div class="text1 text1-bold">Почему мы?</div>
		<div class="text1">Мы тщательно следим за качеством: нам поставляют цветы
			только самые проверенные сертифицированные поставщики, а наши флористы строго
			соблюдают условия хранения цветов и правила сборки букетов.</div>
		<div class="text1">Мы можем поручиться за каждый цветок в нашем холодильнике,
			и чтобы вы не выбрали на нашем сайте – результат удовлетворит Вас на 100%!</div>
	</div>
	<div class="pa-block">
		<div class="text1 text1-bold">Для кого создаются наши букеты?</div>
		<div class="text1">Наши букеты создаются для тех, кто ценит красоту и стиль.
			Наши букеты для тех, кто хочет подарить искренние эмоции, а не вручить цветы
			для галочки. Мы верим, что настоящий букет — это не просто упаковка роз,
			купленная в первом попавшемся Цветторге.</div>
		<div class="text1">ЧЭто ваши чувства, заботливо собранные и упакованные нами в
			лучший букет и подаренные вашему самому важному человеку.</div>
	</div>
	<div class="pa-block">
		<div class="text1 text1-bold">Получив наш букет, вы останетесь с нами
			навсегда, также как и сотни наших постоянных клиентов!</div>
	</div>

</div>