<div class="page-companies">

	<div class="pc-block">
		<div class="pcb-item">
			<div class="pcbi-img">
				<img src="/wp-content/themes/cityflo/assets/images/companies/comp3.jpg"
					alt="">
			</div>
			<div class="pcbi-text">
				Широкий выбор для любых целей: небольшие букеты-комплименты от 1490
				рублей и шикарные композиции от 10 000 рублей.
			</div>
		</div>
		<div class="pcb-item">
			<div class="pcbi-img">
				<img src="/wp-content/themes/cityflo/assets/images/companies/comp1.jpg"
					alt="">
			</div>
			<div class="pcbi-text">
				Гибкая система скидок до 20% в зависимости от выбранного Вами способа
				оплаты.
			</div>
		</div>
		<div class="pcb-item">
			<div class="pcbi-img">
				<img src="/wp-content/themes/cityflo/assets/images/companies/comp2.jpg"
					alt="">
			</div>
			<div class="pcbi-text">
				Возможность разместить логотип Вашей компании на цветочных композициях,
				коробках-переносках,открытках.
			</div>
		</div>
		<div class="pcb-item">
			<div class="pcbi-img">
				<img src="/wp-content/themes/cityflo/assets/images/companies/comp4.jpg"
					alt="companies">
			</div>
			<div class="pcbi-text">
				Прозрачные отношения – заключим договор, предоставим закрывающую
				документацию.
			</div>
		</div>
	</div>

	<div class="pc-partners">
		<div class="h1">Нас выбирают</div>
		<div class="pcp-slider">
			<div class="pcp-block">
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner1.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner5.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner3.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner7.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner2.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner6.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner4.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner8.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner9.svg"
						alt="partner">
				</div>
				<div class="pcpb-img">
					<img src="/wp-content/themes/cityflo/assets/images/companies/partner10.svg"
						alt="partner">
				</div>
			</div>
		</div>
	</div>

</div>