<div class="shipping-payment">

  <!-- <div class="h2">Доставка</div> -->
  <div class="text1">Цветочный салон City flowers работает с понедельника по
    пятницу с 9:00 до 19:00</div>
  <div class="text1">Мы принимаем заказы ежедневно 24/7 c 9:00 до 19:00</div>
  <div class="pd-icons dp-icons">
    <div class="pdi-icon dpi-icon">
      <img src="/wp-content/themes/cityflo/assets/images/companies/phone1.svg"
        alt="phone">
    </div>
    <div class="pdi-icon dpi-icon">
      <img
        src="/wp-content/themes/cityflo/assets/images/companies/whatsapp1.svg"
        alt="whatsapp">
    </div>
    <div class="pdi-icon dpi-icon">
      <img
        src="/wp-content/themes/cityflo/assets/images/companies/telegram1.svg"
        alt="telegram">
    </div>
    <div class="text1 text1-phones">8(916)425-46-65, 8 (915) 421-93-02</div>
  </div>
  <div class="pd-icons dp-direct">
    <div class="text1 text1-phones">Директ</div>
    <div class="pdi-icon pdi-instagram">
      <img
        src="/wp-content/themes/cityflo/assets/images/companies/instagram.svg"
        alt="phone">
    </div>
    <div class="text1 text1-phones">@cityflowers_ru</div>
  </div>
  <div class="text1">Доставка осуществляется 7 дней в неделю с 9:00 до 21:00</div>
  <div class="h3">Сроки</div>
  <div class="text1">Доставить выбранный вами букет мы сможем в течение 1-4
    часов после оформления и подтверждения заказа. Все зависит от
    местонахождения получателя букета, а также сложности заказа. При получении
    заказа мы проверим наличие цветов и свяжемся с вами для подтверждения
    заказа. Состав букета может быть изменён флористом в зависимости от наличия,
    а также сезонности цветов. Мы обязательно согласуем с вами замену тех
    цветов, которые отсутствуют на момент заказа. Цветовая гамма букета и
    фактура будут сохранены.</div>
  <div class="text1">Если вы оформили заказ после 19:00 - самая ранняя доставка
    - это следующий день с 10:00 до 12:00. Если у вас срочный вопрос, то вы
    можете позвонить нам по номеру 8 (916) 425-46-65 или написать нам в
    WhatsАpp/Telegram по номеру 8 (915) 421-93-02 и мы обязательно вам ответим.</div>
  <div class="text1">Доставка заказа до 9:00, а также после 21:00 оговаривается
    отдельно с администратором.</div>
  <div class="h3">Стоимость доставки</div>
  <div class="text1">В пределах МКАД (Зона №1) — 350 рублей</div>
  <div class="text1">За МКАД в г. Одинцово (Зона №1) - 350 рублей</div>
  <div class="text1">За МКАД (Зона №2) - 650 рублей</div>
  <div class="text1">Доставка далее Зоны №2 - оговаривается отдельно с
    администратором</div>
  <div class="h3">Доставка к точному времени (интервал доставки 15-20 минут)</div>
  <div class="text1">В пределах МКАД (Зона №1) — 350 рублей</div>
  <div class="text1">За МКАД в г. Одинцово (Зона №1) - 350 рублей</div>
  <div class="text1">За МКАД (Зона №2) - 650 рублей</div>
  <div class="text1">Доставка далее Зоны №2 - оговаривается отдельно с
    администратором</div>
  <div class="h3">Точность</div>
  <div class="text1">При обычной доставке интервал доставки составляет — 1 час.
    Если Вы заказали букет с 10.00 до 11.00 утра, мы гарантируем, что курьер
    будет у вас ровно в этот промежуток времени.</div>
  <div class="h3">Самовывоз</div>
  <div class="text1">Возможен из нашего салона City flowers по адресу: г.
    Москва, ул. Горбунова, д. 2, стр. 3 (БЦ "Гранд сетунь плаза")</div>
  <div class="h3">Как мы доставляем</div>
  <div class="text1">Все наши букеты от 3000 рублей мы упаковываем в фирменную
    коробку для удобства сохранности букета при транспортировке. Букет
    транспортируется в специальной вазочке-аквабоксе, содержащей воду, поэтому
    вы можете не переживать, что букет будет ехать без воды. Все наши букеты до
    3000 руб. мы упаковываем в прозрачную пленку, чтобы защитить букет от
    перепадов температуры, а также делаем влажную упаковку букета. Ко всем
    букетам мы прилагаем средство для продления жизни цветов, а также по вашей
    просьбе можем приложить нашу фирменную карточку с текстом ваших пожеланий.</div>
  <div>[mapblock]</div>
  <!-- <div class="h2">Оплата</div>
  <div class="text1"><b>Банковской картой</b> при оформлении заказа через сайт
    или в нашем салоне</div>
  <div class="text1">Visa</div>
  <div class="text1">Mastercard</div>
  <div class="text1">МИР</div>
  <div class="text1"><b>Наличными</b></div>
  <div class="text1">При заборе заказа в нашем салоне по адресу ул. Горбунова,
    д. 2, стр. 3</div>
  <div class="text1"><b>Безналичный расчет</b></div>
  <div class="text1">на счет юридического лица (мы предоставляем все необходимые
    документы)</div> -->
</div>

<!-- {
            "type": "Feature",
            "id": 1,
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            37.257427,
                            55.691214
                        ],
                        [
                            37.298178,
                            55.803753
                        ],
                        [
                            37.293042,
                            55.837415
                        ],
                        [
                            37.309110,
                            55.886198
                        ],
                        [
                            37.396455,
                            55.917424
                        ],
                        [
                            37.510389,
                            55.954284
                        ],
                        [
                            37.654650,
                            55.945889
                        ],
                        [
                            37.795375,
                            55.920358
                        ],
                        [
                            37.898835,
                            55.874842
                        ],
                        [
                            37.950693,
                            55.752077
                        ],
                        [
                            37.974560,
                            55.698176
                        ],
                        [
                            37.920191,
                            55.632702
                        ],
                        [
                            37.788845,
                            55.550627
                        ],
                        [
                            37.587169,
                            55.552708
                        ],
                        [
                            37.472226,
                            55.576346
                        ],
                        [
                            37.282621,
                            55.677812
                        ],
                    ]
                ]
            },
            "properties": {
                "description": "<div style=\"margin-bottom: 10px;\"><strong>За МКАД (Зона №2) - 650 рублей</strong></div>\nг. Москва, ул. Горбунова, дом 2, строение 3 БЦ \"Гранд Сетунь Плаза\"</br>тел: +7 (916) 425-46-65</br>с 10:00 до 20:00</br>Служба доставки: +7 (916) 425-46-65",
                "fill": "#56db40",
                "fill-opacity": 0.3,
                "stroke": "#b3b3b3",
                "stroke-width": "0",
                "stroke-opacity": 0
            }
        } -->