html
  height: 100%

body
  font: 14px Arial, serif
  font-weight: 400
  color: black
  margin: 0
  padding: 0
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  // background-color: $body-color
  width: 100%

main
  outline: none

// иконки adds внизу картинки с товаром

.adds
  display: flex
  position: absolute
  bottom: 4%
  left: 16px

.adds__main
  display: flex
  justify-content: center
  align-items: center
  margin-right: 9px
  border-radius: 39px

.adds--bestsellers
  transition: all 0.2s ease

.adds--slider1
  transition: all 0.2s ease

.adds--new-items
  display: none

.zip
  padding: 5px 9px 6px 8px
  width: 26px
  height: 26px
  background-color: #f07585

.percents
  padding: 4px 9px
  font-family: "Jost-Medium", sans-serif
  font-size: 12px
  background-color: #FF4895
  color: #fff

.new-thing
  padding: 4px 9px
  font-family: "Jost-Medium", sans-serif
  font-size: 12px
  line-height: 17px
  background-color: #ffb885
  color: #fff

.bestseller
  padding: 4px 9px
  font-family: "Jost-Medium", sans-serif
  font-size: 12px
  line-height: 17px
  background-color: #80caf5
  color: #fff

// кнопки

.button
  outline: none
  transition: .2s
  position: relative
  top: 0

  &:active
    top: 3px

.button1
  display: flex
  width: 241px
  height: 56px
  justify-content: center
  align-items: center
  font-family: "Jost-Medium", sans-serif
  font-size: 16px
  text-decoration: none
  color: #000000
  background-color: #ffffff
  border-radius: 4px
  border: none
  transition: filter 0.2s ease
  cursor: pointer

  &:hover, &:focus
    filter: drop-shadow(0 10px 20px rgba(255, 113, 131, 0.2))

// скрытие элемента на странице

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  white-space: nowrap

  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

// блок в карточке товара с кнопками покупки

.buy-block
  position: relative
  width: 100%
  padding: 18px 14px
  background-color: #fff
  transition: all 0.2s ease
  left: 0

.wrapper-top
  display: flex
  justify-content: space-between

.wrapper-left
  flex-basis: 60%

.buy-block__number
  display: none
  flex-basis: 40%
  justify-content: center
  align-self: center
  text-align: center
  font-family: "Jost-Regular", sans-serif
  cursor: pointer

.buy-block__number--short
  display: none

.wrapper-bottom
  position: absolute
  width: 100%
  left: 0
  top: 100%
  padding: 0 3.28% 3.28%
  display: flex
  justify-content: space-between
  background-color: white

.cart-button,.added_to_cart
  position: relative
  flex-basis: 48%
  height: 56px
  font-family: "Jost-Medium", sans-serif
  font-size: 16px
  line-height: 1.1
  color: #fff
  background-color: $main-pink03
  border: none
  border-radius: 4px
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none
  padding-left: 15px
  padding-right: 15px

  &.added
    display: none

  &:hover, &:focus
    background-color: $main-pink04
    box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
    transition: all 0.2s ease

.added_to_cart
  font-size: 15px

.buy-button
  flex-basis: 48%
  display: flex
  justify-content: center
  align-items: center
  height: 56px
  font-family: "Jost-Medium", sans-serif
  font-size: 16px
  line-height: 23px
  color: #000
  text-decoration: none
  border-radius: 4px
  border: 1px solid #727272

  &:hover, &:focus
    border: 1px solid #000
    transition: all 0.2s ease

.button-position
  margin: 0 auto
  margin-top: 22px

// блок выбора кол-ва штук товара

/*mount-card*/
.mount-card
  display: none
  padding-bottom: 16px
  display: none
  position: absolute
  top: -222px
  right: 0px
  width: 100%

//классы для уменьшенного вплывающего окна выбора кол-ва штук
.mount-card-min
  padding-bottom: 16px
  display: none
  position: absolute
  top: -190px
  right: 0px

.mount-card-wrapper
  width: 274px
  // min-height: 225px
  padding: 18px 14px 23px
  background-color: #fff
  box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)

.block-number
  display: flex
  // justify-content: flex-end
  flex-wrap: wrap

.block-number__item
  display: flex
  justify-content: center
  align-items: center
  width: 74px
  min-height: 29px
  border: 1px solid #e2e2e2
  margin-left: 0px
  margin-right: 10px
  margin-bottom: px
  border-radius: 4px
  font-family: "Jost-Regular", sans-serif
  font-size: 14px
  line-height: 20px
  cursor: pointer
  transition: all 0.2s ease

  &:nth-child(3n)
    margin-right: 0

  &:last-child
    margin-right: 0

  &:hover
    font-family: "Jost-Medium", sans-serif
    border-color: #ffddbe
    background-color: #ffddbe

.block-number__input
  width: 152px
  border-radius: 4px
  border: 1px solid rgba(114, 114, 114, 0.2)
  outline: none

.block-number__submit
  width: 73px
  background-color: #ff8696
  border: none
  color: #fff
  font-family: "Jost-Medium", sans-serif
  font-size: 13px
  line-height: 19px
  border-radius: 4px
  cursor: pointer

.mount-card-wrapper
  width: 100%
  padding: 25px 21px 30px
  background-color: #fff
  box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)

.mount-card

  &.show

    display: block

.block-number__item
  display: flex
  justify-content: center
  align-items: center
  width: 31.3%
  min-height: 36px
  border: 1px solid #e2e2e2
  margin-right: 3%
  margin-bottom: 10px
  border-radius: 4px
  font-family: "Jost-Regular", sans-serif
  font-size: 14px
  line-height: 20px
  cursor: pointer
  transition: all 0.2s ease

  &:nth-child(3n)
    margin-right: 0

  &:hover
    font-family: "Jost-Medium", sans-serif
    border-color: #ffddbe
    background-color: #ffddbe

  &.choose
    font-family: "Jost-Medium", sans-serif
    border-color: #ffddbe
    background-color: #ffddbe

.block-number__text
  position: relative
  display: block
  margin-top: 7px
  margin-bottom: 15px
  font-family: "Jost-Light", sans-serif
  font-size: 14px
  line-height: 20px
  text-align: left

.enter-wrapper
  &::placeholder
    font-family: "Jost-Light", sans-serif
    font-size: 13px
    line-height: 19px

.enter-wrapper
  display: flex
  justify-content: space-between

.block-number__input
  width: 176px
  padding: 8px 15px 8px 15px
  border-radius: 4px
  border: 1px solid rgba(114, 114, 114, 0.2)
  outline: none

.enter-wrapper input::focus
  outline: 1px solid #000

.block-number__submit
  width: 83px
  background-color: #ff8696
  border: none
  color: #fff
  font-family: "Jost-Medium", sans-serif
  font-size: 13px
  line-height: 19px
  border-radius: 4px
  cursor: pointer

  &:hover
    background-color: $main-pink04
    box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
    transition: all 0.2s ease

// блок с размерами товаров

.buy-block2
  position: relative
  width: 100%
  left: 0
  padding: 16px 14px
  background-color: #fff
  opacity: 1
  transform: translateY(0)
  transition: all 0.2s ease
  position: absolute
  bottom: 0

.flower__title2
  font-family: "Jost-Regular",sans-serif
  font-size: 14px
  line-height: 20px

.flower__price2
  display: block
  margin-top: 8px

  font-family: "Jost-SemiBold", sans-serif
  font-size: 14px
  line-height: 20px

.wrapper-bottom2
  position: absolute
  top: 100%
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  padding: 0 3.28% 3.28%
  background-color: #fff

.cart-button2
  flex-basis: 48%
  height: 36px
  font-size: 13px
  line-height: 19px

.buy-button2
  flex-basis: 48%
  height: 36px
  font-size: 13px
  line-height: 19px

.sizes-menu
  display: none
  flex-direction: column
  justify-content: space-between

.sizes-menu__title
  font-family: "Jost-Regular", sans-serif
  font-size: 13px
  line-height: 19px
  align-self: center

.sizes-menu__div
  display: flex
  justify-content: center
  align-items: center
  width: 24px
  height: 24px
  font-family: "Jost-SemiBold",sans-serif
  font-size: 11px
  line-height: 16px
  border: 1px solid  #dfdfdf
  border-radius: 50%

.radio-wrapper
  display: flex
  justify-content: space-between

.sizes-radio
  position: relative
  display: flex
  cursor: pointer
  margin-right: 5px

  &:last-child
    margin-right: 0

  &.active

    .sizes-menu__div
      border: 1px solid #000

  &:hover

    .popup-size
      display: flex

.popup-size
  display: none
  position: absolute
  top: -36px
  left: -10px
  justify-content: center
  align-items: center
  width: 54px
  height: 27px
  font-family: "Jost-Regular", sans-serif
  font-size: 14px
  line-height: 20px
  background-color: white
  border-radius: 4px
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09)

  &::after
    content: ""
    position: absolute
    top: 27px
    left: 23px

    transform: rotate(175deg)
    border: 4px solid transparent
    border-bottom-color: white

.mount-card-mobile
  display: none

// стили плагина lightGallery

.lg-backdrop.in
  background-color: #fff
  opacity: 0.7

.lg-sub-html
  display: none

strong
  font-weight: bold

input,select
  width: 100%
  height: 52px
  padding-left: 22px
  border: 1px solid #efefef

input[type="checkbox"],input[type="radio"]
  width: auto
  height: auto

.woocommerce-products-header__title, .page-title
  font-size: 22px
  font-weight: bold
  margin-bottom: 20px
  text-align: center

.woocommerce-info, .woocommerce-noreviews, p.no-comments
  background-color: #ffeeee
  color: black

.entry-title
  text-align: center
  font-size: 28px
  font-weight: bold
  margin-bottom: 40px

.entry-content
  padding-bottom: 30px

  h2,h3,h6
    font-size: 22px
    font-weight: bold
    margin-bottom: 20px

  h3
    font-size: 16px

  p
    margin-bottom: 15px

  .wp-block-separator
    height: 1px
    background-color: #eb787f
    margin-top: 30px!important
    margin-bottom: 30px!important

.events-none
  pointer-events: none
  opacity: .6

.woocommerce-store-notice.demo_store
  bottom: 0
