@font-face
    font-family: "Jost-Light"
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Light.woff") format("woff")
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Light.woff2") format("woff2")
    font-style: normal
    font-weight: 300
    font-display: swap

@font-face
    font-family: "Jost-Regular"
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Regular.woff") format("woff")
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Regular.woff2") format("woff2")
    font-style: normal
    font-weight: 400
    font-display: swap

@font-face
    font-family: "Jost-Medium"
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Medium.woff") format("woff")
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-Medium.woff2") format("woff2")
    font-style: normal
    font-weight: 500
    font-display: swap

@font-face
    font-family: "Jost-SemiBold"
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-SemiBold.woff") format("woff")
    src: url("/wp-content/themes/cityflo/assets/fonts/loaded/Jost-SemiBold.woff2") format("woff2")
    font-style: normal
    font-weight: 600
    font-display: swap
