=base_img($img)
  background-repeat: no-repeat
  background-image: url("/wp-content/themes/cityflo/imgs/#{$img}")
  //background-image: url("/imgs/#{$img}")

=inline($p)
  display: inline-block
  vertical-align: top
  @if $p != 0
    width: $p

$body-color: #080307

$main-pink01: #ffeaea
$main-pink02: #ffeeee
$main-pink03: #ff8696
$main-pink04: #ff7183
$crumbs: #505050
