@media screen and ( max-width: 767px )

    // модальное окно Купить в 1 клик

    .page-wrapper
        padding-left: 0px
        padding-right: 0px

    .one-click__wrapper
        padding: 46px 24px 42px
        margin-top: 0
        width: 100%

    .user-wrapper
        flex-direction: column

    .user__cell
        width: 100%

    .one-click__button
        top: 23px

    .one-click__button path
        fill: #000000
        opacity: 1

    .user__button-submit
        height: 56px

    // главная страница

    .benefits
        display: none

    // кнопка переключения картинок в блоках

    .arrow-button
        display: block
        padding: 0
        position: absolute
        top: 0
        margin-top: 37%
        border: none
        background-color: transparent
        outline: none

        &:active
            transform: translateY(2px)

    .arrow-button-bestsellers
        margin-top: 51%

    .arrow-button-new
        margin-top: 51%

    .arrow-button-seen
        margin-top: 51%

    .arrow-button-inst
        // margin-top: 39%
        bottom: 0
        margin-top: 0
        margin-bottom: -16%

    // 
    .adds--new-items
        display: flex
        bottom: 3%

    .new-items
        position: relative

    // блок выбора кол-ва штук 

    .mount-card-mobile
        display: none
        padding-top: 16px

    .mount-card-mobile--active
        display: block

    .card-mobile__list
        display: flex
        justify-content: space-between
        font-family: "Jost-Regular", sans-serif
        font-size: 13px
        line-height: 19px

    .card-mobile__item
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 24%
        height: 36px
        border: 1px solid #e2e2e2
        border-radius: 4px
        color: rgba(0, 0, 0, .6)

    .card-mobile__item--active
        color: rgba(0, 0, 0, 1)
        background-color: #ffddbe

    .entry-content
        h2, h3, h6
            font-size: 18px
        p
            font-size: 13px

        .wp-block-image
            width: 100%
            float: none!important
            margin-bottom: 20px
            display: block!important

            img
                width: 70%
                height: auto
                margin: 0

            figure
                text-align: center

    .entry-title
        font-size: 24px

    .hentry .entry-content div.wp-block-image:not(.block-editor-media-placeholder) .alignright, .editor-styles-wrapper div.wp-block-image:not(.block-editor-media-placeholder) .alignright
        margin: 0
