
@media screen and ( max-width: 767px )

    .page-header
        position: relative

    .page-footer__wrapper
        padding-bottom: 10px

    .page-footer__section1-wrapper
        flex-direction: column
        align-items: center
        margin-bottom: 23px

    .page-footer__logo
        position: relative
        display: flex
        justify-content: center
        order: -3
        width: 100%
        padding-bottom: 17px

        &::after
            position: absolute
            content: ""
            left: 25px
            right: 25px
            height: 1px
            bottom: 0
            background-color: #000000
            opacity: 0.1

    .page-footer__contacts-wrapper
        order: -2
        margin-top: 17px

    .page-footer__list
        width: 100%
        max-width: 100%
        margin-top: 22px
        padding-left: 45px
        padding-right: 43px

    .page-footer__section2-wrapper
        flex-wrap: wrap
        padding-left: 45px
        padding-right: 43px

    .page-footer__docs-list
        justify-content: flex-start
        flex-wrap: wrap
        order: -1

    .page-footer__docs-item

        &:first-child
            order: -3
            flex-shrink: 0
            width: 58.54%
            margin-bottom: 4px

        &:nth-child(3)
            order: -2
        &:nth-child(2)
            text-align: left

    .page-footer__rights
        flex-basis: 100%
        text-align: center
        margin-top: 21px

    .page-contacts
        display: none

    .page-header__login
        display: none

    .page-header__logo
        width: 142px

        img
            width: 100%

    .page-header__section-top-wrapper
        padding: 15px

    .page-header__burgermenu
        position: relative
        display: block
        width: 18px
        margin-top: -10px
        margin-bottom: -10px

        span
            display: block
            height: 2px
            border-radius: 1px
            background-color: black
            margin-bottom: 4px
            width: 100%
            transition: all .2s ease


            &:last-child
                width: 65%
                margin-bottom: 0

    .burger-rotate

        span

            &:first-child
                position: absolute
                transform: rotate(-45deg)
                top: 0
                left: 0
                transition: all .2s ease

            &:nth-child(2)                
                transform: rotate(45deg)
                transition: all .2s ease

            &:last-child
                display: none

    .page-header__section-bottom-wrapper
        z-index: 3
        display: none
        width: 100%
        position: absolute
        left: 0
        top: 100%
        padding-left: 15px
        padding-right: 15px
        padding-bottom: 30px
        background-color: white

    .mobile-menu-open
        display: block


    .page-header__menu
        flex-direction: column

    .page-header__sub-menu-list-wrapper
        position: static
        padding-top: 0

    .page-header__sub-menu-list
        padding-top: 17px
        padding-bottom: 0
        padding-left: 23px

    .page-header__item-section2
        // position: relative
        margin-bottom: 25px

        &:last-child
            margin-bottom: 0



    .page-header__link-section2
        display: block
        width: 100%
        position: relative

        &::after
            content: ""
            position: absolute
            width: 10px
            height: 10px
            border: 2px solid #000000
            border-top: transparent
            border-left: transparent

            right: 2px
            top: 3px
            transform: rotate(-45deg)
            border-radius: 1px
            transition: all 0.2s ease

        &:hover::after
            
            border-color: $main-pink03

        &.phls__sub:hover::after
            transform: rotate(45deg)

      


    .page-header__sub-sub-menu-list
        position: static
        padding-left: 23px
        padding-top: 13px

    .mobile-menu-wrapper-top
        display: flex
        justify-content: space-between
        margin-top: 30px
        padding: 13px 24px
        border: 1px solid rgba(0, 0, 0, .2)
        text-decoration: none
        color: #000000

        &:hover      

            .mobile-login

                path
                    fill: $main-pink03


    .mobile-menu-wrapper-bottom
        padding-top: 30px
            
    .mobile-contacts
        display: flex
        padding-bottom: 13px
        text-align: center

    .mobile-time
        display: flex
        flex-direction: column
        padding-bottom: 13px
        text-align: center

    .mobile-delivery
        display: flex
        flex-direction: column
        text-align: center

    .page-footer__item-section2
        width: 50%


    // footer menu

    .page-footer__item-section2
        position: static

    .page-footer__list
        position: relative

        .page-header__sub-menu-list-wrapper
            position: absolute
            min-width: 100%
            left: 0
            top: -210px
            bottom: 100%

        .page-header__sub-menu-list
            padding-left: 45px
            padding-bottom: 15px

        .page-header__sub-menu-item
            position: relative

            // &::after

        .page-header__sub-menu-link
            position: relative
            max-width: 100%
            text-transform: uppercase

            &::after
                content: ""
                position: absolute
                width: 10px
                height: 10px
                border: 2px solid #000000
                border-top: transparent
                border-left: transparent
                right: 40px
                top: 4px
                -webkit-transform: rotate(-45deg)
                transform: rotate(-45deg)
                border-radius: 1px
                -webkit-transition: all 0.2s ease
                transition: all 0.2s ease

            &:hover
                color: #f07585

            &:hover::after
                transform: rotate(45deg)
                border-color: #f07585
                
        .item-footer-active

        .item-footer-rotate

