@media screen and ( max-width: 767px )

    .collection-advertising
        margin-top: 0

    .special-collection
        position: relative

    .special-collection__heading
        margin-right: 40px
        margin-left: auto
        width: 50%
        font-size: 15px
        line-height: 132%
        text-align: right

    .special-collection__button
        margin-left: auto
        margin-right: 40px
        height: 46px
        width: 241px

    .slider1-block
        padding-left: 7%
        padding-right: 7%
        margin-top: 7%

        &::-webkit-scrollbar-track
            display: none

        &::-webkit-scrollbar-thumb
            display: none


    .slider1
        margin-top: 0
        overflow: auto

    .swiper-item1
        min-width: 100%
        margin-right: 8%
        overflow: auto

        &:hover
            .buy-block__number
                // display: none

    .bestsellers-list-wrapper

        .swiper-item1

            &:nth-child(3n)
                margin-right: 8%

    .buy-block__number
        // display: none

    
    .bestsellers
        position: relative
        margin-top: 0
        padding-top: 0

    .flower-card--bestsellers

        &:hover
            .buy-block__number
                display: none


    .flower-picture
        overflow: hidden


    .bestsellers__title
        padding-left: 15px
        padding-right: 15px
        font-size: 20px
        line-height: 24px

    .bestsellers-list-wrapper
        position: relative
        padding-left: 7%
        padding-right: 7%


    .bestsellers-list
        flex-wrap: nowrap
        overflow: auto

    .flower-card--bestsellers
        min-width: 100%
        margin-right: 8%

        &:nth-child(2n)
            margin-right: 8%
        &:nth-child(3n)
            margin-right: 8%


    .button-position
        display: none 


    .new-items
        position: relative
        margin-top: 51px
        padding-top: 0

    .new-items__title
        font-size: 20px
        line-height: 29px
        padding-left: 15px
        padding-right: 15px

    .slider2
        margin-top: 16px
        overflow: auto

    .slider2-block
        padding-left: 7%
        padding-right: 7%
        overflow: auto

    .swiper-item2
        position: relative
        min-width: 100%
        margin-right: 8%


    .slider2-block
        overflow: auto

        &::-webkit-scrollbar
            display: none

    .similar-single-block
        position: relative


    .main-sections
        padding-top: 0
        margin-top: 33px
        padding-left: 7%
        padding-right: 7%
        flex-direction: row

    .main-sections__item
        margin-bottom: 0
        overflow: hidden
        flex-basis: 100%
        height: 400px

        // &:nth-child(3)
        //     order: -3
        //     max-height: 100%
        //     padding: 0

        //     .main-sections__img--big--top
        //         position: static

        // &:nth-child(1)
        //     order: -2

        &:first-child
            flex-basis: 100%

        //     .main-sections__img--big--top
        //         width: 204.9%
        //         height: 100%
        //         margin-left: -50%

        .main-sections__img--big--top
            width: 100%
            margin-left: 0

    .main-sections__title
        font-size: 20px
        line-height: 29px
        padding: 23px 20px 19px 20px

    .main-sections__img--big--top
        width: 205.2%
        margin-left: -50%

    .wish-card
        flex-direction: column
        padding-left: 4%
        padding-right: 4%
        padding-bottom: 53px
        padding-top: 15px

    .wish-card__text
        margin-top: 15px

    .wish-card-card
        order: -1
        flex-basis: 100%

    .wish-card__img
        max-width: 100%


    .seen-products
        position: relative

    .seen-products__title
        font-size: 20px
        line-height: 29px
        padding-left: 15px
        padding-right: 15px

    .slider3-block
        padding-left: 7%
        padding-right: 7%

        &::-webkit-scrollbar
            display: none


    .slider3
        overflow: auto

    .swiper-item3
        min-width: 100%
        margin-right: 8.1%
        margin-bottom: 0
    
    .adds--seen-products
        display: flex
        bottom: 3%


    .city-inst
        position: relative
        padding-top: 38px
        padding-bottom: 31px
        overflow: hidden

    .wrapper-link
        padding-left: 15px
        padding-right: 15px

    .inst-photos-wrapper
        padding-right: 7%
        padding-left: 7%


    .city-inst__photos
        overflow: auto

    .city-inst__item
        flex-basis: auto
        min-width: 49%
        margin-right: 4%

    .buy-block__number--short
        display: flex
        position: relative
        align-self: flex-end
        font-family: "Jost-Light", sans-serif
        padding-right: 24px
        font-size: 12px

        &::after
            content: ""
            position: absolute
            width: 13px
            height: 15px
            top: 33%
            right: 0
            background-image: url("/wp-content/themes/cityflo/assets/images/loaded/down-resp.svg")
            background-size: content
            background-repeat: no-repeat
            opacity: .6

    .short-rotate

        &::after
            transform: rotate(180deg) translateY(56%)


    // cart
    
    .cart_item
        border: none

    table.shop_table_responsive tr td
        text-align: right
    
    table.cart td.product-name
        text-align: right

    table.cart td.actions input
        width: 50%
        margin-left: auto
        margin-right: 0

    
    .form-row-first
        width: 100%

    .page .content-area
        padding: 0 25px




    // заказ принят

    .woocommerce-order-received .page
        width: 100%

    // заказы

    .woocommerce-orders-table
        // display: flex
        // flex-direction: column

    .woocommerce-orders-table__cell
        margin-bottom: 10px

    .woocommerce-MyAccount-content
        margin-top: 25px

    .addresses header.title a
        top: 2px

    .woocommerce-Address
        margin-top: 25px

    .woocommerce-form-row--wide
        width: 100%


    // error 404

    .error404

        .product-categories li
            width: 100%

        

    .connection-block--hidden
        display: flex

    .order-form
        flex-direction: column-reverse

    .order-form

        & > div
            width: 100%
            max-width: 100%

    
    .of-right
        border: 1px solid $main-pink04
        padding: 10px
        border-radius: 2px
