@media screen and (max-width: 767px)
    .page-half
        flex-direction: column

        & > div
            width: 100%

    .delivery-map
        #map
            height: 300px

    .pc-block
        flex-direction: column

    .pcb-item
        width: 100%
        margin-top: 30px

        &:first-child
            margin-top: 0

    .pd-images
        width: 100%

    // .pdi-img
    //     width: 100%

    .pd-icons
        width: 90%

    .dp-icons
        width: 100%

    .dpi-icon
        margin-right: 7px

    .dp-direct
        width: 58%
