    
// for 320px
@media screen and ( max-width: 767px )
    
    // карточка товара

    .breadcrumbs
        padding-bottom: 10px
        padding-left: 14px
        padding-right: 14px

    .card-main-content
        flex-direction: column

    .content-single-slider
        width: 100%

    .main-content-description
        position: relative
        width: 100%
        min-height: 0
        margin-top: 13px
        padding-left: 14px
        padding-right: 14px

    .description-spacing
        justify-content: flex-start
        min-height: 0

    // .card-small-img__list
    //     display: none

    .adds-content
        position: absolute
        display: none
        top: -50px
        left: 12px

    .adds__main-content

        &:first-child
            margin-left: 0

    .mount-menu-content
        margin-top: 8px

    .mount-menu__list
        justify-content: space-between

    .mount-menu__item
        width: 24%
        &:last-child
            margin-right: 0

    .main-tabs
        margin-top: 27px

    .main-tabs-header__item
        margin-right: 7%
        &:last-child
            margin-right: 0

    .content-button
        flex-basis: 138px
        height: 40px
        font-size: 13px
        line-height: 19px

    .content-link
        flex-basis: 138px
        height: 40px
        font-size: 13px
        line-height: 19px

    .similar-items-wrapper
        position: relative
        // overflow: hidden
        padding-left: 7%
        padding-right: 7%

    .similar-items-title
        padding-left: 14px
        padding-right: 14px
        margin-top: 27px

    .similar-items-list
        overflow: auto

    .similar-item
        min-width: 100%
        margin-right: 8%
        // padding-left: 24px
        // padding-right: 24px

    .similar-item-img-wrapper
        position: relative
        overflow: auto

    .arrow-button svg
        display: block

    .arrow-left
        left: 7px

    .arrow-right
        right: 7px

    .adds-content-arrow
        display: block
        position: absolute
        display: flex
        left: 14px
        bottom: 13px

    .similar-title--content
        font-size: 14px

    .similar-price--content
        font-size: 14px

    .sizes-menu__title--content
        font-size: 12px

    // order

    .main-content-top-wrapper
        order: -5

    .main-content-price
        order: -4

    .mount-menu-content
        order: -3

    .main-contents-buttons
        order: -2