/*benefits section*/

.benefits
    background-color: rgba(255, 234, 234, .5)


.benefits__list
    display: flex
    justify-content: space-between
    align-items: center
    padding: 21px 0 20px
    font-family: "Jost-Medium", sans-serif


.benefits__item
    position: relative
    padding-left: 44px

.benefits__item--position::before
    position: absolute
    content: ""
    left: 0
    top: 50%
    transform: translateY(-50%)
    background-repeat: no-repeat

.benefits__item--icon1::before
    width: 30px
    height: 30px    
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/benefit-icon1.svg")

.benefits__item--icon2::before
    width: 22px
    height: 32px    
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/benefit-icon2.svg")

.benefits__item--icon3::before
    width: 30px
    height: 30px    
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/benefit-icon3.svg")

.benefits__item--icon4::before
    width: 30px
    height: 29px    
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/camera.svg")
    background-position: center center
    background-size: contain

.benefits__item--icon5::before
    width: 29px
    height: 29px   
    
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/delivery.svg")
    background-position: center center
    background-size: contain
 
.benefits__item--icon5
    padding-right: 14px