.bestsellers
    padding-top: 68px

.bestsellers__title
    font-family: "Jost-SemiBold", sans-serif
    font-size: 24px
    line-height: 35px

.flower-card--bestsellers, .swiper-item2
    width: 32.4%
    margin-right: 1.4%
    margin-bottom: 1.5%
    position: relative
    overflow: hidden

    &:hover

        .flower-picture
            bottom: 0

        .buy-block
            transform: translateY(-68px)
            transition: all 0.2s ease

        .flower-img
            transform: scale(1.2)

        .adds--bestsellers
            transform: translateY(-68px)

        .buy-block__number
            display: flex

.flower-card--bestsellers

    &:nth-child(3n)
        margin-right: 0

.bestsellers-list
    position: relative
    display: flex
    margin-top: 16px

.bestsellers-list
    flex-wrap: wrap
    margin-top: 0
    margin-top: 24px

.flower-picture
    position: relative

.flower-img
    display: block
    height: auto
    width: 100%
    transition: all 0.5s ease
    transform: translateY(0)
    height: 365px
    background-size: cover
    background-position: center center
    @media screen and ( max-width: 800px )
        height: 250px
    @media screen and ( max-width: 767px )
        height: 300px