/*city-inst*/

.city-inst
    padding-top: 68px
    padding-bottom: 56px

.wrapper-link
    display: flex
    align-items: center
    margin-bottom: 22px

.city-inst__link
    margin-left: 9px
    font-family: "Jost-Medium", sans-serif
    font-size: 20px
    line-height: 29px
    color: #000000
    text-decoration: none
    
.city-inst__photos
    display: flex
    justify-content: space-between

.city-inst__item
    flex-basis: 215px

.city-inst__img
    display: block
    width: 100%