// задний фон на карточке товара
.content-single-cover
  background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/back-product-page.png")
  background-repeat: no-repeat
  background-position: top -136px center

// хлебные крошки
.breadcrumbs
    display: flex
    justify-content: flex-start
    padding-bottom: 24px
    list-style: none

.breadcrumbs__item
    position: relative
    margin-right: 32px

    &:last-child
        margin-right: 0

    &::after
        content: ""
        position: absolute
        top: 50%
        right: -19px
        width: 4px
        height: 4px
        background-color: $crumbs
        transform: translateY(-50%)
        border-radius: 50%

    .breadcrumbs__link,& > a
        font-family: "Jost-Light", sans-serif
        font-size: 12px
        color: #000
        line-height: 17px
        letter-spacing: 0.07em    
        text-decoration: none

        &::after
            display: block
            content: ""
            height: 1px
            width: 0%
            background-color: $crumbs
            transition: width 0.2s ease-in-out

        &:hover::after
            width: 100%


.breadcrumbs__item--current

    &::after
        display: none
    &:hover
        text-decoration: none
// 

.card-main-content
    display: flex
    justify-content: space-between

.content-single-slider
    position: relative
    width: 45.7%

.main-content-img-wrapper
    position: relative

.main-content-img
    display: block
    width: 100%

.main-content-description
    display: flex
    flex-direction: column
    justify-content: space-between
    align-self: flex-start
    min-height: 522px
    width: 51.3%

.description-spacing
    min-height: 522px
    display: flex
    flex-direction: column
    justify-content: space-between

.main-content-top-wrapper
    display: flex
    justify-content: space-between
    align-items: center

.main-content-title
    font-family: "Jost-Medium", sans-serif
    font-size: 24px
    line-height: 35px

.main-content-price
    display: block
    font-family: "Jost-SemiBold", sans-serif
    font-size: 24px
    line-height: 35px
    color: $main-pink03

.card-small-img__list
    display: flex
    margin-top: 14px

.card-small-img__item
    flex-basis: 90px
    margin-right: 14px

    &:last-child
        margin-right: 0


.card-small-img__img
    display: block
    width: 100%

.sizes-menu-content
    display: flex
    flex-direction: column
    margin-bottom: 27px

.sizes-menu__title-content
    margin-bottom: 9px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px  
    margin-top: 20px

.radio-wrapper-content
    display: flex

.sizes-menu__div-content
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    width: 36px
    height: 36px
    font-family: "Jost-SemiBold",sans-serif
    font-size: 14px
    line-height: 17px
    border: 1px solid  #dfdfdf
    border-radius: 50%
    background-color: #fff
    cursor: pointer

    &:last-child
        margin-right: 0

// иконки внизу картинки товара

.adds-content
    display: flex

.adds__main-content
    display: flex
    justify-content: center
    align-items: center
    margin-left: 9px
    border-radius: 39px

// 

.sizes-radio-content
    position: relative
    display: flex
    cursor: pointer

    &.active

        .sizes-menu__div-content
            border: 1px solid #000

    &:hover

        .popup-size-content
            display: flex


.popup-size-content
    display: none
    position: absolute
    top: -32px
    left: -5px

    justify-content: center
    align-items: center
    width: 54px
    height: 27px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px 
    background-color: white
    border-radius: 4px
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09)

    &::after
        content: ""
        position: absolute
        top: 27px
        left: 23px       
        transform: rotate(175deg)
        border: 4px solid transparent
        border-bottom-color: white


/*mount-menu-content*/
.mount-menu__title-content
    display: block
    margin-bottom: 15px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px

.mount-menu__list
    display: flex
     
.mount-menu__item
    width: 83px
    height: 36px
    display: flex
    justify-content: center
    align-items: center
    // padding: 8px 26px 9px 25px 
    margin-right: 8px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px
    background-color: #fff
    border: 1px solid transparent
    border-radius: 4px
    cursor: pointer

    &:hover
        font-family: "Jost-SemiBold", sans-serif 
        border: 1px solid #000
        
    &.chosen-mount
        font-family: "Jost-SemiBold", sans-serif 
        border: 1px solid #000



.mount-menu__or
    display: block
    margin-top: 8px
    margin-bottom: 10px
    font-family: "Jost-Light", sans-serif
    font-size: 14px
    line-height: 17px

.mount-menu__input
    padding: 9px 40px 9px 12px
    margin-bottom: 25px
    border: none
    border-radius: 4px
    outline: none

    &::placeholder
    font-family: "Jost-Light", sans-serif
    font-size: 13px
    line-height: 19px


/*tabs*/

.tab-content-wrapper
    max-width: 459px

    strong,b
        font-weight: bold

    p
        margin-bottom: 10px

        &:last-child
            margin-bottom: 0

.main-tabs-header
    display: flex
    padding-bottom: 8px
    
.main-tabs-header__item
    position: relative
    margin-right: 38px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px 
    color: #000
    cursor: pointer

    &::after        
        content: ""
        position: absolute
        left: 0
        bottom: -9px
        width: 0%
        height: 1px
        background-color: #000
        transition: width 0.2s ease-in-out


.main-tabs-header__item.active-tab

    &::after
        content: ""
        position: absolute
        left: 0
        bottom: -9px
        width: 100%
        height: 1px
        background-color: #000
        

.main-tabs-content
    padding-top: 19px
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    margin-bottom: 20px

.main-tabs-content__item
    display: none

.main-tabs-content__item.active-tab
    display: block

.tab-content-names
    margin-bottom: 5px
    font-family: "Jost-Medium", sans-serif
    font-size: 14px
    line-height: 20px

.tab-content-description
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px

.main-contents-buttons
    display: flex
    justify-content: space-between

.content-button
    display: flex
    justify-content: center
    align-items: center
    flex-basis: 248px
    height: 56px
    background-color: $main-pink03
    font-family: "Jost-Medium", sans-serif
    font-size: 16px
    line-height: 23px
    color: #fff
    border: none
    border-radius: 4px
    cursor: pointer

    &:hover, &:focus
        background-color: $main-pink04
        box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
        transition: all 0.2s ease


.content-button--margin
    margin-right: 22px

.content-link
    display: flex
    justify-content: center
    align-items: center
    flex-basis: 248px
    height: 56px
    background-color: #fff
    font-family: "Jost-Medium", sans-serif
    font-size: 16px
    line-height: 23px
    text-decoration: none
    color: #000
    border-radius: 4px
    border: 1px solid rgba(0, 0, 0, 0.5)

    &:hover
        border: 1px solid #000
        transition: all 0.2s ease

    // слайдер карточки товара

.main-content-nav
    background-color: transparent
    position: absolute
    top: 50%
    transform: translateY(-50%)
    border: none
    cursor: pointer
    outline: none

    &:hover g
        opacity: 1
        

.main-content-left
    left: 12px

.main-content-right
    right: 12px

// Похожие букеты

.similar-items-wrapper
    margin-bottom: 50px

.similar-items-title
    margin-top: 38px
    margin-bottom: 24px
    font-family: "Jost-SemiBold", sans-serif
    font-size: 24px
    line-height: 35px

.similar-items-list
    display: flex
    justify-content: space-between

.similar-item
    flex-basis: 23.68%
    background-color: #fff

.similar-item-img-wrapper
    overflow: hidden

    &:hover

        .similar-photo
            transform: scale(1.1)

.similar-photo
    width: 100%
    display: block
    transition: all 0.5s ease  

.similar-title
    padding-left: 14px
    padding-top: 16px
    padding-bottom: 10px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px 

.similar-price
    display: block
    padding-left: 14px
    padding-bottom: 20px
    font-family: "Jost-SemiBold", sans-serif
    font-size: 14px
    line-height: 20px

.similar-price--content
    font-family: "Jost-SemiBold", sans-serif
    font-size: 15px
    line-height: 22px

.sizes-menu--content
    display: none

.wrapper-top--content
    padding-left: 14px
    padding-top: 15px
    padding-bottom: 10px
    font-size: 14px
    line-height: 20px

.wrapper-bottom2--content
    display: none

.adds-content-arrow
    display: none

.arrow-button
    display: none

.slider2-similar
    overflow: hidden

.fotorama__nav__shaft
    text-align: center

// fotorama

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx)

    .fotorama__arr
        background: none

.fotorama__nav-wrap
    margin-top: 14px

.fotorama__nav__shaft
    width: 100%

.fotorama__nav__frame
    margin-right: 14px

.fotorama__thumb-border
    display: none
    border: none
    margin-right: 14px

.fotorama__arr
    height: 40px
    width: 22px
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/left-slider.svg")
    transform: none

.fotorama__arr--prev
    left: 10px
//     background-image: url("/wp-content/themes/cityflo/assets/images/loaded/left-slider.svg")

.fotorama__arr--next
    right: 10px
    transform: rotate(180deg)!important
    background-position: 0 0
    &:hover
        opacity: 1
//     background-image: url("/wp-content/themes/cityflo/assets/images/loaded/right-slider.svg")

.fotorama__arr--disabled
    opacity: 0.6

    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/left-slider.svg")

@media screen and ( max-width: 767px )

    .fotorama__nav-wrap
        display: none

.wp-block-separator.shipping-payment
    margin-left: 0!important
    margin-right: 0!important

.single_variation_wrap
    .cart-button
        width: 100%

.variations_form.cart
    width: 50%
    .variations
        display: none

    .single_variation_wrap
        .single_variation
            display: none!important
        .variations_button
            width: 100%

    
.pa-diameter-block
    .sizes-menu__div-content
        font-size: 10px