/* Header */

.page-wrapper,.archive .content-area, .page .content-area,.error404 .content-area
    max-width: 1140px
    margin: 0 auto

.page-header__section-top-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 33px 0

.page-contacts
    display: flex
    flex-direction: column
    flex: 0 0 165px

.page-tel
    margin-bottom: 2px
    font-family: "Jost-Regular", sans-serif
    font-weight: normal
    font-size: 16px
    line-height: 23px
    color: #000
    text-decoration: none
    letter-spacing: 0.105em

.page-text
    font-family: "Jost-Light", sans-serif
    font-size: 12px
    font-weight: 300
    line-height: 17px
    letter-spacing: 0.06em

.page-header__time
    flex: 0 0 141px
    align-self: flex-end

.page-header__delivery
    flex: 0 0 164px
    align-self: flex-end

.page-header__works
    margin-bottom: 3px
    font-family: "Jost-Medium", sans-serif
    font-weight: 500
    font-size: 12px
    line-height: 17px
    letter-spacing: 0.06em

.page-header__icons
    display: flex

.page-header__login
    margin-right: 32px

.page-header__cart
    margin-right: 8px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none

    .phc-hideprice
        display: none

    &:hover
        .phc-hideprice
            display: block
            position: absolute
            bottom: -20px
            left: 0px
            font-weight: bold

.page-header__login, .page-header__cart
    &:hover path, &:focus path
        fill: #ff8696
        transition: all 0.2s ease

// .page-header__mount 

//     width: 17px
//     height: 17px    

//     border-radius: 50%

.page-header__number
    display: flex
    justify-content: center
    align-items: center
    width: 17px
    height: 17px
    padding: 0 5px 1px
    font-family: "Jost-Medium", sans-serif
    font-size: 11px
    background-color: #f07585
    color: #fff
    border-radius: 50%
    margin-left: 10px
    text-decoration: none
    margin-top: 1px

.page-header__section-bottom-wrapper
    padding: 17px 0 44px
    border-top: 1px solid rgba(0, 0, 0, 0.1)

.page-header__menu
    position: relative

    display: flex
    justify-content: space-between
    text-decoration: none

.page-header__item-section2
    position: relative
    font-family: "Jost-Medium", sans-serif
    font-size: 12px
    line-height: 17px
    letter-spacing: 0.045em
    text-transform: uppercase

    &:hover
        .phls__sub+.page-header__sub-menu-list-wrapper
            display: block

.page-header__link-section2,.phls__sub
    text-decoration: none
    color: #000
    transition: color 0.2s ease

    &:hover
        color: #f07585

    &.hover-active
        color: #f07585

/*Выпадающее меню*/

.page-header__sub-menu-list-wrapper
    position: absolute
    display: none
    z-index: 10
    position: absolute
    left: -22px
    top: 10px
    min-width: 250px
    padding-top: 5px

.page-header__sub-menu-list
    // display: none
    position: relative
    padding-top: 53px
    padding-bottom: 59px
    background-color: cyan
    // border: 1px solid red

    text-transform: none
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.045em
    // padding-bottom: 115px
    background-color: #fff
    padding-left: 20px

.page-header__sub-menu-item
    position: relative
    background-color: white
    padding-bottom: 15px

    &:last-child
        padding-bottom: 0

    &:hover .page-header__sub-sub-menu-list
        display: block

.page-header__sub-menu-link
    display: block
    max-width: 263px
    color: #000
    text-decoration: none

    &:hover
        color: #ee7680

.page-header__sub-sub-menu-list
    display: none
    position: absolute
    top: -15px
    left: 100%
    min-width: 250px
    padding-left: 2px
    padding-top: 15px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.045em
    background-color: #ffffff

.page-header__sub-sub-menu-item
    padding-bottom: 15px

.page-header__sub-sub-menu-link
    display: block
    width: 100%
    text-decoration: none
    color: #000

    &:hover
        color: #ee7680

/* Footer */

.page-footer
    background-color: $main-pink02

.page-footer__wrapper
    padding: 38px 0 41px

.page-footer__section1-wrapper
    display: flex
    align-items: center
    margin-bottom: 56px

.page-footer__logo
    flex-basis: 26%

.page-footer__list
    flex-grow: 1
    display: flex
    justify-content: space-between
    max-width: 513px

.page-footer__contacts-wrapper
    justify-content: flex-end
    display: flex
    flex-basis: 29%

.page-footer__icon

    &:hover

        path
            fill: $main-pink03
            transition: all 0.2s ease


.page-footer__icon
    align-self: center
    margin-right: 34px

.page-footer__section2-wrapper
    display: flex

.page-footer__link-section2
    font-family: "Jost-Regular", sans-serif
    font-size: 12px
    letter-spacing: 1.5%
    text-decoration: none
    color: #000
    transition: all 0.2s ease

    &:hover
        color: #f07585

.page-footer__rights
    flex-basis: 26%
    font-family: "Jost-Light", sans-serif
    font-size: 12px
    line-height: 17px
    color: #727272

.page-footer__docs-list
    display: flex
    justify-content: space-between
    max-width: 513px
    flex-grow: 1
    font-family: "Jost-Light", sans-serif
    font-size: 12px
    line-height: 17px
    color: #727272

    a
        text-decoration: none

.page-footer__text
    color: #727272

// градиент для границы

.page-footer
    position: relative
    clear: both

    &::before
        content: ""

        position: absolute
        right: 0
        top: 0
        z-index: 1
        
        width: 100%
        height: 12px

        background-image: linear-gradient(to bottom right, #fff 0%, #fff 50%, transparent calc(50% + 1px)), linear-gradient(to bottom left, #fff 0%, #fff 50%, transparent calc(50% + 1px))
        background-repeat: no-repeat

        background-position: 0 0, 100% 0
        background-size: 50% 100%


.page-header__burgermenu
    display: none

.mobile-menu-wrapper-top
    display: none

.mobile-contacts
    display: none

.mobile-time
    display: none

.mobile-delivery
    display: none



// Выпадающее меню в footer

.page-footer__item-section2
    position: relative

    &:hover .page-footer__link-section2 + .page-header__sub-menu-list-wrapper
        display: block

    .page-header__sub-menu-list-wrapper
        top: -252px
        padding-bottom: 15px

    .page-header__sub-menu-list
        padding-top: 20px
        
    // .page-header__sub-menu-link



            