// задний фон на главной

.main-index
  background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/back.png")
  background-repeat: no-repeat
  background-position: top 84px center

// .swiper-item1, .flower-card
//     position: relative
//     flex-basis: 368px
//     // height: auto
//     min-height: 36.79vw
//     background-color: white
//     text-decoration: none
//     color: #000

.wrapper-info-img 
    padding: 15px



.bestsellers-list-wrapper
  .swiper-item1
    &:nth-child(3n)
      margin-right: 0
      




