/*main-sections*/

.main-sections
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 68px

.main-sections__item
    position: relative
    margin-bottom: 1.5%
    flex-basis: 32.2%
    height: 400px

    &:first-child
        flex-basis: 66.1%

    // &:last-child
    //     flex-basis: 66.1%

    // &:nth-child(7)
    //     flex-basis: 66.1%

    // &:nth-child(1),&:nth-child(7n),&:nth-child(8n)
    //     flex-basis: 754px

.main-sections__img
    display: block
    width: 100%
    height: 100%
    position: absolute
    background-position: center center
    background-size: cover

// .main-sections__item--big2
//     flex-basis: 368px

.main-sections__title
    position: absolute
    display: block
    bottom: 0
    left: 31px
    right: 31px
    // width: 305px
    padding: 27px 38px 24px 41px
    background-color: #fff6f6
    font-family: "Jost-Regular"
    font-size: 22px
    line-height: 32px
    letter-spacing: 0.02em
    color: #000000
    text-decoration: none

    &::after
        content: ""
        position: absolute
        display: block
        width: 10px
        height: 16px
        background-image: url("/wp-content/themes/cityflo/assets/images/loaded/right.svg")
        background-size: 10px 16px
        top: 50%
        right: 38px
        transform: translateY(-25%)

// .main-sections__title--big
//     width: 690px

// .main-sections__title--big

//     &::after
//         right: 5%

.error404
    .woocommerce-product-search
        display: none

    .fourohfour-columns-2
        font-size: 20px
        font-weight: bold
        margin-bottom: 20px
        text-align: center
        display: block

    .page-header + p
        text-align: center
        margin-bottom: 30px

    h2
        margin-bottom: 10px
        font-size: 20px
        font-weight: 700
        text-align: center

    .widgettitle
        display: none

    .widget_product_categories ul li

        &::before 
            display: none

        span
            display: none

    .product-categories
        display: flex
        flex-direction: column
        margin-bottom: 70px



    .product-categories li
        width: 48%
        margin: 0 auto
        margin-bottom: 10px

        padding: 0

        &:last-child
            margin-bottom: 0


    .widget_product_categories li a
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        height: 40px
        text-decoration: none
        font-family: "Jost-Medium", sans-serif
        background-color: $main-pink03
        color: #ffffff
        font-size: 13px
        line-height: 19px
        border-radius: 4px



        &:hover
            text-decoration: underline
            background-color: $main-pink04
            box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
            color: #333333
            transition: all 0.2s ease

    ul.products li.product img
        width: 100%
        height: auto

// cart
.cart_item
    border-top: 1px solid grey

.product-remove
    text-align: center
    vertical-align: middle

.product-thumbnail
    vertical-align: middle

table.shop_table_responsive tr td
    text-align: center
    padding: 20px

.cart-button-update
    font-size: 14px
    height: 48px


.coupon button
    width: 241px
    height: 56px
    justify-content: center
    align-items: center
    font-family: "Jost-Medium", sans-serif
    font-size: 16px
    text-decoration: none
    color: #fff
    background-color: $main-pink03
    border: none
    border-radius: 4px
    cursor: pointer

    &:focus
        
        box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
        transition: all 0.2s ease

    &:hover
        background-color: $main-pink04
        border-color: #d5d5d5
        color: #333333

// details

table.woocommerce-checkout-review-order-table .product-name
    text-align: left

.woocommerce-input-wrapper
    display: block
    padding-left: 23px
    margin-top: 15px
    text-transform: uppercase

.woocommerce-table--order-details

    tfoot
        border-top: 1px solid grey

        tr th
            font-weight: bold
        tr td
            text-align: center

.woocommerce-MyAccount-orders

.woocommerce-table__product-name .product-name
    height: 30px
    padding: 0



    .product-total
        // width: 35%

    tfoot
        border-top: 1px solid grey

        

    tfoot td
        text-align: center



    
.product-total
    text-align: center

.cart-subtotal > th
    text-align: left

.cart-subtotal td
    text-align: center

.order-total > th
    text-align: right

.order-total td
    text-align: center

.shop_table tr th
    padding: 10px 0
    // width: 35%


.shop_table tbody tr
    height: 25px
    font-size: 14px

.product-name
    vertical-align: middle
    padding: 10px 0

.product-total
    vertical-align: middle

.form-row-last button
    width: 241px
    height: 56px
    justify-content: center
    align-items: center
    padding: 0 25px
    font-family: "Jost-Medium", sans-serif
    font-size: 16px
    text-decoration: none
    color: #fff
    background-color: $main-pink03
    border: none
    border-radius: 4px
    cursor: pointer

    &:focus
        
        box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)
        transition: all 0.2s ease

    &:hover
        background-color: $main-pink04
        border-color: #d5d5d5
        color: #333333

.woocommerce-form-row--wide
    width: 39%
    
    .form-row-first
        float: none
        width: 30%

    .form-row-last
        float: none
        width: 30%

.woocommerce-form-row

    em
        color: $crumbs

.woocommerce-EditAccountForm
    fieldset
        margin-top: 25px

    legend
        margin-bottom: 10px
        font-weight: bold




.woocommerce-message a, .woocommerce-info a, .woocommerce-error a, .woocommerce-noreviews a, p.no-comments a
    color: $main-pink04

    &:hover
        color: $main-pink04


.woocommerce-order-details tfoot th 
    text-align: left
    // padding-right: 20px

.edit-link
    display: block
    padding-top: 65px


// ошибки

.woocommerce-error li
    margin-bottom: 8px

    &:last-child
        margin-bottom: 0

// my account

.entry-content p 
    // line-height: 25px


// профиль

.woocommerce-Button
    background-color: $main-pink03
    border: none
    border-radius: 4px
    cursor: pointer
    color: #ffffff
    padding: 15px

    &:hover
        background-color: $main-pink04
        border-color: #d5d5d5
        color: #333333


// адреса

.woocommerce-column--billing-address
    font-size: 16px
    line-height: 24px

.woocommerce-column--shipping-address
    font-size: 16px
    line-height: 24px    

.u-column1 
    position: relative

.addresses header.title a
    position: absolute
    top: -12px
    left: 195px

.u-column2
    position: relative

.woocommerce-Addresses

    h3
        font-size: 20px

    address
        font-size: 16px
        line-height: 24px

// авторизация

.woocommerce-form-login

    .woocommerce-form-row--wide
        width: 100%

.woocommerce-form-register

    .woocommerce-form-row--wide
        width: 100%

.show-password-input
    padding: 0
    top: 50%
    transform: translateY(-50%)
    padding-right: 20px
        

    // width: 50%

.woocommerce-form-login__submit
    background-color: $main-pink03
    border: none
    border-radius: 4px
    cursor: pointer
    color: #ffffff
    padding: 15px 35px

    &:hover
        background-color: $main-pink04
        border-color: #d5d5d5
        color: #333333


// registration

.woocommerce-form-register__submit
    padding-left: 35px
    padding-right: 35px

.woocommerce-privacy-policy-text
    width: 80%

// orders

.woocommerce-orders-table__cell-order-actions
    a
        background-color: $main-pink03
        color: #ffffff
        border-radius: 6px
        text-transform: uppercase
        font-size: 14px
    
        &:hover
            background-color: $main-pink04
            border-color: #d5d5d5
            color: #333333

.my_account_orders .button
    font-size: 14px