// модальное окно Купить в 1 клик

.one-click
    display: none
    position: fixed
    z-index: 50
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgba(255, 238, 238, 0.8)

.one-click--active
    display: block

.click-show
    display: block

.one-click__wrapper
    position: relative
    padding: 3.73% 3.51% 4.46%    
    margin: 8.66% auto 0
    width: 54.24%
    background-color: #fff

.one-click__button
    position: absolute
    display: block
    top: 36px
    right: 6.5%
    height: 27px
    width: 27px
    background-color: transparent
    font-size: 0
    border: 0
    cursor: pointer
    outline: none

    // &::after, &::before
    //     content: ""
    //     position: absolute
    //     top: 0
    //     right: 43%
    //     width: 3px
    //     height: 27px
    //     background-color: rgba(0, 0, 0, .5)
    //     border-radius: 4px

    // &::before
    //     transform: rotate(45deg)

    // &::after
    //     transform: rotate(-45deg)
        

.one-click__form
    padding-top: 27px

.one-click__title
    margin-bottom: 27px
    font-family: "Jost-SemiBold", sans-serif
    font-size: 24px
    line-height: 35px

.user__label
    font-family: "Jost-SemiBold", sans-serif
    font-size: 13px
    margin-bottom: 5px

.user-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.user__cell
    display: flex
    flex-direction: column
    width: 47.5%
    margin-bottom: 15px

.agreement
    position: relative
    display: block
    margin-top: 29px
    margin-bottom: 42px
    padding-left: 36px
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 20px
    color: rgba(0, 0, 0, .7)
    cursor: pointer

    a
        text-decoration: underline!important
        color: $crumbs

.agreement input[type="checkbox"] + .checkbox-indicator
    position: absolute
    top: 0
    left: 0
    width: 24px
    height: 24px
    border: 1px solid #e2e2e2
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .07)
    border-radius: 6px

.agreement input[type="checkbox"]:checked + .checkbox-indicator:before
    content: ""
    position: absolute
    top: -1px
    left: 0 
    width: 24px
    height: 24px
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/checked.svg")
    background-repeat: no-repeat
    background-position: calc( 50% - 1px ) 50%


.user__button-submit
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    font-size: 16px
    line-height: 23px

.agreement__process-link
    color: rgba(0, 0, 0, .7)


// wordpress

.wpforms-field-label
    font-family: "Jost-SemiBold", sans-serif
    font-size: 13px!important
    margin-bottom: 5px!important

div.wpforms-container-full .wpforms-form button[type=submit] 
    width: 100%
    background-color: $main-pink03!important   
    border-radius: 4px!important
    outline: none!important
    border: none!important
    color: #ffffff!important

    &:hover
        background-color: $main-pink04!important
        transition: all 0.2s ease!important
        box-shadow: 0 10px 20px rgba(255, 113, 131, 0.38)!important
        color: #333333!important

div.wpforms-container-full .wpforms-form input[type=text]
    width: 100%!important
    height: 52px!important
    padding-left: 22px!important
    border: 1px solid #efefef!important

    &::placeholder
        font-family: "Jost-Light", sans-serif
        font-size: 16px
        line-height: 28px

div.wpforms-container-full .wpforms-form .wpforms-field

    &:last-child
        
        padding: 19px 0 32px!important

div.wpforms-container-full .wpforms-form 

    a
        text-decoration: underline

        &:hover
            color: #000000

div.wpforms-container-full .wpforms-form input[type=checkbox]
    position: relative
    top: 1px

