.new-items
    padding-top: 68px

.new-items__title
    font-family: "Jost-SemiBold",sans-serif
    font-size: 24px
    line-height: 35px

.slider2-block
    overflow: auto

    &::-webkit-scrollbar
        height: 9px

    &::-webkit-scrollbar-track
        background-color: #ffe0e0
        border-radius: 43px

    &::-webkit-scrollbar-thumb
        background-color: $main-pink03
        border-radius: 43px
        box-shadow: 0 4px 10px #ffaeae

.flower-card-items
    position: relative

.slider2
    position: relative
    display: flex
    justify-content: flex-start
    margin-top: 24px

.swiper-item2
    position: relative
    overflow: hidden
    min-width: 24%
    width: 275px
    margin-right: 1.4%
    padding-bottom: 80px

    &:hover

        .buy-block2
            transform: translateY(-45px)
            transition: all 0.2s ease

        .swiper-img2
            transform: scale(1.1)

        .sizes-menu
            display: flex

    .cart-button, .added_to_cart
        flex-basis: 48%
        height: 40px
        font-size: 13px
        line-height: 1.1

.swiper-img2
    display: block
    width: 100%
    transition: all 0.5s ease
    height: 275px
    background-size: cover
    background-position: center center

.wrapper-info-img2
    background-color: #fff

.sizes-item-tablet
    display: none

.scrollbar-slider2
    background-color: #fff

.count-menu-block,.sizes-menu-block
    display: none