.woocommerce-checkout-none
    & > *
        display: none
    & > .woocommerce-NoticeGroup-checkout
        display: block

.woocommerce-shipping-methods,.wc_payment_methods,.place-order
    // display: none

.order-form
    display: flex
    // align-items: center
    justify-content: flex-start

    & > div
        width: 50%
        max-width: 50%


.of-left
    display: flex
    flex-direction: column
    margin-right: 40px


.checkout-block
    border: 1px solid $main-pink04
    border-radius: 2px
    padding: 29px

.connection-block
    position: relative
    display: flex
    align-self: center
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    margin-top: 30px
    margin-bottom: 30px
    font-size: 20px
    color: $main-pink04
    border: 1px solid $main-pink04

    &::before
        content: ""
        display: block
        position: absolute
        top: -30px
        left: calc( 50% - 1px )
        width: 1px
        height: 30px
        background-color: $main-pink04

    &::after
        content: ""
        display: block
        position: absolute
        top: 100%
        left: calc( 50% - 1px )
        width: 1px
        height: 30px
        background-color: $main-pink04

    
.delivery-form--hidden
    display: none
    // padding-top: 20px
    // padding-bottom: 20px

.delivery-form__area
    resize: none

.checkout-block__heading
    text-align: center

.checkout-block__par
    color: $main-pink04
    text-align: center
    text-decoration: none
    display: block
    margin-bottom: 20px

.connection-block--hidden
    display: none

.connection-block--show
    display: block

.delivery-form__item
    display: flex
    flex-direction: column

    &:not(:last-child)
        margin-bottom: 20px

.delivery-form__title
    margin-bottom: 10px

.delivery-form__info
    outline: none
    background-color: #f5f5f5

.delivery-form__area
    padding: 22px
    border: none
    outline: none
    background-color: #f5f5f5
        
.obligatory
    padding-right: 5px
    color: $main-pink04

.c-block-1
    padding-bottom: 20px

.c-block-2
    padding-top: 20px

.checkout-block--mb
    margin-bottom: 20px

.checkout-button-order
    position: relative
    width: 80%
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    padding-top: 15px
    padding-bottom: 15px
    background-color: $main-pink03
    border-radius: 4px
    color: white
    text-align: center
    cursor: pointer
    transition: all .2s ease

    &:hover
        background-color: $main-pink04
        color: #333333

    &:active
        top: 3px
        transition: .2s


.delivery-checkbox
    position: relative
    padding-left: 30px
    cursor: pointer

.delivery-checkbox input[type="checkbox"]:checked + .cb-i::before
    content: ""
    position: absolute
    top: 3px
    left: 3px
    width: 17px
    height: 17px
    background-image: url("/wp-content/themes/cityflo/assets/images/loaded/checked.svg")
    background-repeat: no-repeat



.cb-i
    position: absolute
    top: -1px
    left: 0
    width: 17px
    height: 17px
    border:  1px solid $main-pink04

// выпадающий список

.select
    position: relative
    min-width: 220px
    width: 100%


.select__head 
    position: relative
    width: 100%
    max-width: 100%
    border-radius: 4px
    padding: 14px 15px
    font-size: 14px
    line-height: 18px
    cursor: pointer
    background-color: #f5f5f5

    &::after
        content: ""
        display: block
        position: absolute
        right: 20px
        top: 50%
        width: 10px
        height: 6px
        background-image: url("/wp-content/themes/cityflo/assets/images/loaded/down-resp.svg")
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        transform: translateY(-50%)
        transition: all .2s ease

    &.open

        &::after
            transform: translateY(0%) rotate(180deg)


.select__list
    z-index: 10
    display: none
    position: absolute
    top: 100%
    left: 0
    right: 0
    background-color: #f5f5f5
    border-radius: 0px 0px 4px 4px
    overflow-x: hidden
    overflow-y: auto

.select__list
    border: 1px solid rgba(0, 0, 0, 0.2)

    .select__item
        position: relative
        padding: 10px 15px
        cursor: pointer

            
        &:hover
            background-color: $main-pink03
            color: white
            border-color: $main-pink03

.dif-time
    .time-block
        display: none

        span
            margin-top: 10px
            display: block
            color: $main-pink04

.order-total
    th
        text-align: left

.wc-proceed-to-checkout .button.checkout-button
    padding-left: 20px
    padding-right: 20px

.cart-collaterals 
    .woocommerce-shipping-totals.shipping,.order-total
        display: none

.of-right
    #payment, #shipping_method
        display: none