.page-companies
	font: 16px Jost-Light

.pc-block
	display: flex
	justify-content: space-around
	align-items: flex-start

.pcb-item
	width: 22%

.pcbi-img
	img
		max-width: 100%

.pcbi-text
	margin-top: 20px
	// font: 16px Jost-Light

.pc-partners
	margin-top: 68px

	.h1
		text-align: center
		font-size: 28px
		font-weight: bold

.pcp-slider
	overflow: hidden
	position: relative
	font-weight: bold

.pcp-block
	margin-top: 30px
	display: flex
	justify-content: space-between
	align-items: baseline
	overflow: auto
	scrollbar-width: none

	&::-webkit-scrollbar
		height: 9px

	&::-webkit-scrollbar-track
		background-color: #ffe0e0
		border-radius: 43px
        // display: none

	&::-webkit-scrollbar-thumb
		background-color: $main-pink03
		border-radius: 43px
		box-shadow: 0 4px 10px #ffaeae
        // display: none

.pcpb-img
	margin-right: 20px

.pcpb-img
	margin-top: 20px

	img
		width: 119px
		height: 123px

.page-decor
	width: 100%
	font: 16px Jost-Light

	.text1
		margin-top: 20px

		&:last-child
			margin-top: 30px

		&.text1-contact
			margin-top: 10px

.pd-icons
	display: flex
	justify-content: space-between
	align-items: flex-end
	width: 28%

.pdi-icon
	width: 26px
	margin-right: 15px

	img
		width: 100%

.pd-images
	display: flex
	align-items: baseline
	justify-content: space-between
	width: 80%

.pdi-img
	margin-top: 30px
	width: 45%

	img
		width: 100%

.delivery-map
	#map
		height: 500px
		width: 100%

.page-half
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 40px

	& > div
		width: 48%
		margin-right: 4%

.shipping-payment
	// font: 16px Jost-Light

	.text1
		margin-bottom: 15px

		&.text1-phones
			margin-bottom: 0

	.h3
		font-weight: bold
		margin-bottom: 15px
		margin-top: 20px

.dp-icons,.dp-direct
	width: 31%
	align-items: center
	margin-bottom: 15px

.dp-direct
	width: 17%

.pdi-instagram
	margin-right: 0
