.seen-products__title
    margin-bottom: 14px
    font-family: "Jost-SemiBold",sans-serif
    font-size: 24px
    line-height: 35px

.slider3-block
    overflow: auto
    // cursor: pointer


    &::-webkit-scrollbar
        height: 9px

    &::-webkit-scrollbar-track
        background-color: #fff
        border-radius: 43px


    &::-webkit-scrollbar-thumb
        background-color: #80caf5
        border-radius: 43px
        box-shadow: 0 4px 10px rgba(128, 202, 245, 0.46)


.slider3
    position: relative
    display: flex
    justify-content: space-between

.swiper-item3
    position: relative
    // min-height: 354px
    margin-bottom: 41px
    overflow: hidden
    min-width: 24%
    margin-right: 1.4%

    &:hover 
        .buy-block3
            transform: translateY(-49px)
            transition: all 0.2s ease
        .swiper-img3
            transform: scale(1.1)
        .wrapper-left3
            flex-basis: 129px
        // .flower__title3
        //     font-size: 13px
        //     line-height: 19px
        .sizes-menu
            display: flex

    .flower-card-seen
        position: relative
 

.swiper-img3
    display: block
    width: 100%
    transition: all 0.5s ease    


.adds--seen-products
    display: none 

.buy-block3
    position: relative
    width: 100%
    top: 0
    left: 0

    // min-height: 133px
    padding: 14px 14px
    background-color: #fff

    opacity: 1
    transform: translateY(0)
    transition: all 0.2s ease

.flower__title3
    font-family: "Jost-Regular",sans-serif
    font-size: 14px
    line-height: 20px

.flower__price3
    display: block
    margin-top: 8px

    font-family: "Jost-SemiBold", sans-serif
    font-size: 14px
    line-height: 20px

.wrapper-bottom3
    position: absolute
    top: 100%
    left: 0
    width: 100%
    padding: 0 14px 14px 14px
    background-color: #fff



.buy-block3__button
    display: block
    width: 100%
    height: 36px
    
    font-family: "Jost-Medium",sans-serif
    font-size: 13px
    line-height: 19px
    background-color: #fff
    border: 1px solid #727272
    border-radius: 4px
    cursor: pointer