/*special collection section*/

.collection-advertising
    max-width: 1140px
    margin: 0 auto
    margin-top: 33px

    width: 100%
    max-height: 222px
    padding-bottom: 35px
    // background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/for-newyear.jpg")
    // background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/for-march.jpg")

    background-size: cover
    background-repeat: no-repeat

.special-collection__heading
    margin-left: 45%
    padding-top: 45px
    font-family: "Jost-Medium", sans-serif
    font-size: 24px

.special-collection__button
    margin-top: 22px
    margin-left: 45%

.slider1-block
    overflow: auto

    &::-webkit-scrollbar
        height: 9px

    &::-webkit-scrollbar-track
        background-color: #ffe0e0
        border-radius: 43px
        // display: none

    &::-webkit-scrollbar-thumb
        background-color: $main-pink03
        border-radius: 43px
        box-shadow: 0 4px 10px #ffaeae
        // display: none

.slider1
    position: relative
    display: flex
    margin-top: 16px

.swiper-item1
    width: 32%
    min-width: 32%
    margin-right: 2%
    overflow: hidden
    margin-bottom: 18px
    position: relative

    &:hover

        .flower-picture
            bottom: 0

        .buy-block
            transform: translateY(-58%)
            transition: all 0.2s ease

        .flower-img
            transform: scale(1.2)

        .adds--bestsellers
            transform: translateY(-68px)

        .buy-block__number
            display: flex

        .swiper-img1
            transform: scale(1.2)

        .adds--slider1
            transform: translateY(-68px)

    .sizes-radio
        &:nth-child(n + 5)
            display: none
            
.swiper-item1

    &:hover

        .buy-block2
            transform: translateY(-52px)
            transition: all 0.2s ease

        .swiper-img2
            transform: scale(1.1)

        .wrapper-left2
            flex-basis: 129px

        .flower__title2
            font-size: 13px
            line-height: 19px

        .sizes-menu
            display: flex

.swiper-item1--margin
    margin-bottom: 41px

.swiper-img1
    display: block
    height: auto
    width: 100%
    transition: all 0.5s ease

.swiper-item1__title, .flower__title
    font-family: "Jost-Regular", sans-serif
    font-size: 16px
    line-height: 23px
    color: #000
    height: 46px
    overflow: hidden

.swiper-item1__price, .flower__price
    display: block
    margin-top: 7px
    font-family: "Jost-SemiBold", sans-serif
    font-size: 16px
    line-height: 23px

.woocommerce-ordering
    display: none

.product
    .variations_form.cart
        margin: 0 auto
        width: 100%

.page-numbers

    li
        display: inline-block
        font-size: 15px
        margin-right: 5px

    .next,.prev
        color: transparent!important
        &::after
            color: #6d6d6d

.wc-block-grid__product-onsale, .onsale, .woocommerce-pagination .page-numbers li .page-numbers:not(.current)

.woocommerce-pagination .page-numbers li .page-numbers.current
    background-color: #ffdde1
    padding: 5px

.woocommerce-shipping-totals.shipping
    th
        text-align: left
    td
        text-align: center

ul.products li.product .woocommerce-LoopProduct-link, ul.products .wc-block-grid__product .woocommerce-LoopProduct-link, .wc-block-grid__products li.product .woocommerce-LoopProduct-link, .wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link
    min-height: 325px

.product
    .content-single-cover
        .variations_form.cart
            width: 50%


.products
    .woocommerce-loop-product__link
        img
            max-width: 100%
            height: auto

    .woocommerce-loop-product__title
        min-height: 40px