/*wish-card*/
.wish-card
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 779px
    margin: 0 auto
    padding-top: 57px
    padding-bottom: 68px

.wish-card__text
    max-width: 346px

.wish-card__title
    margin-bottom: 16px
    font-family: "Jost-Regular", sans-serif
    font-size: 22px
    line-height: 29px
    letter-spacing: 0.02em
    text-align: center

.wish-card__content
    font-family: "Jost-Regular", sans-serif
    font-size: 14px
    line-height: 18px
    color: #727272
    text-align: center

.wish-card__img
    max-width: 370px

.cart-button-update
    float: right

.shop_table
    width: 100%

.order-total
    font-size: 20px

    th
        padding-right: 15px

.woocommerce-message
    text-align: center

table:not( .has-background ) th
    background-color: transparent

.wc-proceed-to-checkout
    margin-top: 20px

.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator
    width: auto

.checkout-button
    padding: 15px 0
    font-weight: bold
    text-decoration: none

// .shop_table
//     tr
//         margin-bottom: 10px

.form-row
    label
        margin-bottom: 7px

    textarea
        height: 200px
        padding: 15px
        border: 1px solid #efefef

    select
        height: 50px


.address-field
    // display: none


// .woocommerce-order

.woocommerce-thankyou-order-received
    text-align: center
    font-size: 22px

.woocommerce-order-received
    .page
        width: 500px
        margin: 0 auto

    table
        td
            padding: 10px 0

            &.woocommerce-table__product-name
                padding-left: 10px
                
    thead
        th
            padding: 10px 0

ul.order_details li strong
    margin-top: 10px

.woocommerce-order-details
    margin-bottom: 40px

.woocommerce-result-count,.return-to-shop
    display: none

table.cart td.product-name
    text-align: center

#payment .place-order .button
    height: 55px