@media screen and ( max-width: 1170px )
    .page-wrapper
        width: auto
        padding-left: 20px
        padding-right: 20px

    .collection-advertising
        margin-top: 1.4%

    .flower__title
        font-size: 15px
        line-height: 20px
        min-height: 40px

    .flower__price
        font-size: 15px
        line-height: 20px

    .flower__title2
        font-size: 12px
        line-height: 16px


    .buy-block__number
        font-size: 13px

    // .main-sections__item

    //     &:nth-child(2)
    //         margin-right: 0


    // .main-sections__item--big 
    //     flex-basis: 66.2% 

    // .main-sections__item--small
    //     flex-basis: 32.45%

    .city-inst__item
        flex-basis: 18.85%

    .sizes-menu__title
        font-size: 12px

    .archive .content-area, .page .content-area, .error404 .content-area
        max-width: 100%
        padding-left: 20px
        padding-right: 20px


@media screen and ( max-width: 1065px )

    .benefits__list
        flex-wrap: wrap
        justify-content: center
        padding-left: 10%
        padding-right: 10%

    .benefits__item
        margin-right: 2.56%
        margin-bottom: 1.36%

    .sizes-menu
        display: block
        align-self: flex-end
        text-align: center

    .sizes-menu__title
        position: relative
        padding-right: 14.55%
        cursor: pointer
        font-family: "Jost-Light", sans-serif
        font-size: 11px

    .mark-rotate

        &::after
            content: ""
            position: absolute
            right: 0
            top: 33%
            width: 10px
            height: 15px
            pointer-events: none
            background-image: url("/wp-content/themes/cityflo/assets/images/loaded/down-resp.svg")
            background-size: contain
            background-repeat: no-repeat
            opacity: 0.6


    .mark-rotate-active

        &::after // для sizes-menu-tablet
            transform: rotate(180deg) translateY(56%)

    .sizes-menu-tablet
        padding-top: 3%
        display: none
    
    .sizes-list-tablet
        display: flex
        justify-content: space-between

        font-family: "Jost-Regular", sans-serif
        font-size: 13px
        line-height: 19px
        opacity: .6
        
    .sizes-item-tablet
        display: flex
        justify-content: center
        align-items: center
        width: 31%
        height: 36px
        border: 1px solid #e2e2e2
        border-radius: 4px
        cursor: pointer

    .sizes-item-tablet-active // для sizes-menu-tablet
        border: 1px solid #ffddbe
        background-color: #ffddbe

    .swiper-item2

        &:hover

            .buy-block2
                transform: translateY(0)

            .sizes-menu
                display: block
            

    .wrapper-bottom2
        position: static
        padding: 0
        margin-top: 16px

    .buy-button2
        font-size: 12px

    .sizes-menu-tablet-active
        display: block
        bottom: 50px



@media screen and ( max-width: 1024px )

    .collection-advertising
        max-width: 100%
        background-position-x: 25% 

    .page-header__time
        display: none

    .page-header__delivery
        display: none

    .page-header__login
        margin-right: 55px

    .buy-block__number
        display: flex
        align-items: center

    .wrapper-bottom
        position: static
        padding: 0
        padding-top: 12px

    .cart-button
        height: 48px
        font-size: 14px

    .buy-button
        height: 48px
        font-size: 13px

    .cart-button2
        height: 40px
        font-size: 13px

    .buy-button2
        height: 40px
        font-size: 12px

    .wrapper-bottom3
        position: static
        padding: 0
        padding-top: 17px

    .cart-button--tablet
        font-size: 16px
        line-height: 23px

    .buy-button--tablet
        font-size: 15px
        line-height: 23px

    .flower-card--bestsellers
        width: 48.6%

        &:nth-child(2n)
            margin-right: 0

        &:nth-child(3n)
            margin-right: 1.4%


    .swiper-item2
        min-width: 32.5%

        &:hover

            .buy-block
                transform: translateY(0)

            .adds--bestsellers
                transform: translateY(0px)


    .swiper-item1

        &:hover

            .buy-block
                transform: translateY(0)

            .adds--bestsellers
                transform: translateY(0px)

            .adds--slider1
                transform: translateY(0px)


    .flower-card--bestsellers

        &:hover

            .buy-block
                transform: translateY(0)

            .adds--bestsellers
                transform: translateY(0px)
            

    .swiper-item2
        align-self: flex-start

    .swiper-item3
        min-width: 32.5%

        &:hover

            .buy-block3
                transform: translateY(0)


    .block-number__item

        &:nth-child(3n)
            margin-right: 0px

    .sizes-menu__title
        font-size: 12px

    // .main-sections__item
        // flex-basis: 49.35%

        // &:nth-child(2)
        //     order: -2
        // &:nth-child(3)
        //     order: -1

    // .main-sections__item--big
    //     flex-basis: 100%

    // .main-sections__item--big2
    //     flex-basis: 49.35%
    //     overflow: hidden

    // .main-sections__item--small
    //     flex-basis: 49.35%

    // .main-sections__img--big
    //     width: 205.2%
    //     margin-left: -50%

    .main-sections__item
        position: relative
        margin-bottom: 1.5%
        flex-basis: 49.2%

        // &:first-child
        //     flex-basis: 49.2%
        //     height: 100%
        //     overflow: hidden

        //     .main-sections__img--big--top

        //         width: 204.9%
        //         height: 100%
        //         margin-left: -50%

        // &:nth-child(3)

        //     position: relative
        //     flex: 0 0 100%
        //     padding: 0 0 50% 0
        //     max-height: 270px
        //     overflow: hidden
  
    
        //     .main-sections__img--big--top
        //         position: absolute
        //         top: 0
        //         left: 0

        //         object-fit: cover                
        //         width: 100%
        //         height: 100%

            

        // &:nth-child(7)        
        //     flex-basis: 49.2%
        //     height: 100%
        //     overflow: hidden

        //     .main-sections__img--big--top
        //         width: 204.9%
        //         height: 100%
        //         margin-left: -50%          

        // &:last-child
        //     flex-basis: 49.2%
        //     height: 100%
        //     overflow: hidden

        //     .main-sections__img--big--top
        //         width: 204.9%
        //         height: 100%
        //         margin-left: -50%                      



    .coupon button
        height: 48px
        font-size: 14px

    .coupon input
        height: 48px


    .page-footer__section1-wrapper
        justify-content: space-between
        align-items: flex-start



    .page-footer__item-section2
        margin-bottom: 8px
        width: 58.74%

        &:nth-child(4n)
            margin-bottom: 0
            
    .page-footer__list
        max-width: 27.46%
        max-height: 110px
        flex-wrap: wrap
        flex-direction: column


    
@media screen and ( max-width: 996px )


    .block-number__input
        width: 60%

    // карточка товара

    .main-content-title
        font-size: 22px
        line-height: 32px

    .main-content-price
        font-size: 22px
        line-height: 32px

    .mount-menu__item
        width: 74px
        height: 36px
        font-size: 14px
        line-height: 20px

    .content-button
        flex-basis: 183px
        height: 56px
        font-size: 16px
        line-height: 23px

    .content-link
        flex-basis: 183px
        height: 56px
        font-size: 16px
        line-height: 23px

    .card-small-img__list
        justify-content: space-between

    .card-small-img__item
        margin-right: 0
        flex-basis: 31%

    .similar-items-wrapper
        overflow: auto
        margin-bottom: 51px

        &::-webkit-scrollbar
            height: 9px

        &::-webkit-scrollbar-track
            background-color: #ffe0e0
            border-radius: 43px

        &::-webkit-scrollbar-thumb
            background-color: $main-pink03
            border-radius: 43px
            box-shadow: 0 4px 10px #ffaeae


    .similar-items-list
        justify-content: flex-start

    .similar-item
        min-width: 32.4%
        margin-right: 1.4%
        margin-bottom: 4.81%

    .wrapper-top--content
        display: flex
        justify-content: space-between
        padding-bottom: 14px
        padding-left: 10px
        padding-top: 7px
        padding-right: 10px

    .similar-title
        font-size: 13px
        line-height: 19px
        padding-top: 0px
        padding-left: 0px

    .sizes-menu--content
        width: 40%
        align-self: flex-end

    .sizes-menu__title--content
        display: block
        text-align: right

    .similar-price
        margin-bottom: 0
        padding-bottom: 0
        font-size: 13px
        line-height: 19px
        padding-left: 0

    .sizes-menu-tablet--content
        padding-top: 0
        padding-left: 8px
        padding-right: 8px
        margin-bottom: 10px

    .sizes-menu-tablet-active--content
        display: block

    .sizes-list-tablet--content
        display: flex
        justify-content: space-around

    .wrapper-bottom2--content
        display: flex
        justify-content: space-between
        margin-top: 0
        padding: 0 10px 12px

    .similar-title--content
        font-family: "Jost-Regular",sans-serif 
        font-size: 12px
        line-height: 20px

    .similar-price--content
        font-family: "Jost-SemiBold", sans-serif
        font-size: 12px
        line-height: 20px

    .sizes-menu--content
        display: block

    .cart-button2--content
        flex-basis: 48%
        height: 36px
        font-size: 12px
        line-height: 20px

    .buy-button2--content
        flex-basis: 48%
        height: 36px

    .flower__title
        font-size: 13px

    .buy-block__number
        font-size: 12px

    .cart-button
        height: 40px
        font-size: 13px
        line-height: 19px

    .buy-button
        height: 40px
        font-size: 13px
        line-height: 19px

    .coupon button
        height: 40px
        width: 200px
        font-size: 13px
        line-height: 19px

    .coupon input
        height: 40px



@media screen and ( max-width: 934px )


    .page-footer__icon
        display: none

    .page-footer__docs-list
        max-width: 100%




@media screen and ( max-width: 900px )

    .sizes-menu__title--content
        font-size: 11px

    .woocommerce-orders-table__cell-order-total 

        .woocommerce-Price-amount
            display: block  

    table.shop_table_responsive tr td
        padding: 12px




@media screen and ( max-width: 825px )

    .benefits__list
        padding-left: 9%
        padding-right: 9%

    .wish-card
        padding-left: 4.24%
        padding-right: 4.24%

    .page-header__sub-menu-list-wrapper
        left: 9.4%



@media screen and ( max-width: 768px )


    .main-index
        background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/back-tablet-main-comp.png")

    .content-single-cover
        background-image: url("/wp-content/themes/cityflo/assets/images/loaded/comp/back-content-shape.png")
        background-repeat: no-repeat
        background-position: top center
        background-size: cover

    .flower-card--bestsellers
        width: 48.88%

        &:nth-child(2n)            
            margin-right: 0

        &:nth-child(3n)
            margin-right: 1.4%

        &:last-child
            margin-right: 0


    .swiper-item2
        min-width: 32.5%

    .swiper-item3
        min-width: 32.5%



