@media screen and ( max-width: 1170px )

	.pcbi-text
		font-size: 14px

	.pcpb-img
		img
			width: 79px
			height: 83px

	.pd-img
		width: 50%

	.pd-icons
		width: 40%

	.dp-icons
		width: 48%

	.dp-direct
		width: 26%
